
/* 
1. what styles?
	a. which property?
	b. what is the value of the property?
2. on which element?
 */

body {
	background-color:grey;
}

h1 {
	color:red;
	background-color:lightblue;
}

p {
	font-style: italic;
	font-weight: bold;
}

#p1 {
	border: 1px solid black;
	font-style: normal;
}

.aqua {
	color: aquamarine;
}
